---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Feature from "../components/Feature.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Typemaster landing page">
  <Header />
  <div class="container-hidden">
    <Hero />
    <About />
  </div>
  <Feature />
  <Footer />
</Layout>
