<footer class="container">
  <div class="footer-content">
    <span>Typemaster 2021</span>
    <p>|</p>
    <p>All rights Reserverd</p>
  </div>
</footer>

<style>
  footer {
    margin-block: 132px 50px;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & span {
      font-weight: var(--fw-bold);
    }
  }
</style>
